@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #282828;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

html,
body {
  font-family: var(--font-obised), system-ui, sans-serif;
  background-color: #141414;
  color: #f0f0f0;
}